<header>
  <div class="container">
  <div class="row">
    <div class="col-lg-12">
  <nav>
    <img class="logo" src="../../../assets/image/logo/mentdoc-01.png">
    <div class="menu">
      <ul>
        <li><a routerLink="download"><i class="fa fa-phone"><span>Download the App</span></i></a></li>
        <li><a routerLink="home">HOME</a></li>
        <li><a routerLink="/services">SERVICES</a></li>
        <li><a routerLink="/security">SECURITY</a></li>
        <li><a routerLink="/blog">BLOG</a></li>
        <li><a routerLink="/contact">CONTACT US</a></li>
        <li><a routerLink="/admin">ADMIN</a></li>
        <li><a routerLink="/about">AboutUs</a></li>
      </ul>
    </div>
  </nav>
  </div>
</div>
</div>
</header>