<app-header2></app-header2>
<section class="modals">
    <div class="container-fluid">
        <!--<div class="card">
            <h2>Home / <span style="color: salmon">Contact us</span></h2>
        </div>-->
        <div class="row">
            <div class="col-md-12">
            <div class="card">
                <h2>ContactUS</h2>
                <p>Get in touch with us today! We’d love to show you how we are different than others.</p>
            </div>
            </div>
        </div>
                    <div class="row">
                
                    <div class="col-lg-6 col-md-6 col-xs-12 col-12">
                        <div class="firstaddress">
                        <h2>Corporate Office</h2>
                        <p class="address">
                            Farm No. 5, Andheria Morde
                            <br>
                            Mehrauli, Delhi 110030
                            <br>
                            T:
                            <a href="tel:+91-7210444411">+91-7210444411</a>
                            <br>
                            
                            E:
                            <a href="info@mentdoc.in">info@mentdoc.in</a>
                               
                        </p>
                    </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-xs-12 col-12">
                        <h2>Registered Office</h2>
                        <p class="address">
                            Farm No. 5, Andheria Morde
                            <br>
                            Mehrauli, Delhi 110030
                            <br>
                            T:
                            <a href="tel:+91-7210444411">+91-7210444411</a>
                            <br>
                            
                            E:
                            <a href="info@mentdoc.in">info@mentdoc.in</a>
                            
                        </p>
                    </div>
                
                </div>
                <div class="row">
            <div class="col-md-12">
                <div class="single-service">
                    <h1>Drop Your Message</h1>
                    
                <div class="col-md-6">
                            <div class="form-group">
                                
                                <input type="text" class="form-control" name="" id="" aria-describedby="helpId"
                                    placeholder="Entar your name">
                                <br>
                                <input type="text" class="form-control" name="" id="" aria-describedby="helpId"
                                    placeholder="Entar your email">
                                <br>
                                <input type="text" class="form-control" name="" id="" placeholder="Contact" >
                                <br>
                                <textarea name="" id="" class="form-control" cols="80" rows="7" placeholder="Enter Message"></textarea>
                               <br>
                                <button class="btn btn-primary">Submit Messsage</button>
                            </div>
                </div>
                
                <div class="col-md-6">
                            <iframe
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3505.880226097023!2d77.17370931440426!3d28.51325109622182!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d1f78363515d7%3A0x6632ce6f8d49b787!2sMentcom%20Infotech%20Private%20Limited!5e0!3m2!1sen!2sin!4v1577515550656!5m2!1sen!2sin"
                                width="95%" height="400" frameborder="0" style="border:0;" allowfullscreen="">
                            </iframe>
                            <!-- <p class="text">
                                                <span style="font-weight:bold">MentDoc</span>is an integrated medical web based application suite for mental health professionals. The services catered by MentDoc have been designed solely for different mental health professionals like neurologists, psychiatrists, clinical psychologists and other allied professionals.</p>
                                            <p class="text">Features include practice management, electronic health records, patient engagement, and diagnosis and treatment management that all work together to automate practice workflow.</p>
                                            <p class="text"></p>
                                            <p class="text"></p>-->

                </div>


                    </div>

                </div>
            </div>



        


        </div>
   
</section>
<app-footer></app-footer>